body {
    background: #191919;
    color: white;
    direction: rtl;
    font-family: sans-serif;
}
h2 {
  margin: 0;
}
header {
  padding: 16px;
  background: black;
}
header .container {
  display: flex;
}
.navbar-menu {
  /* نقوم هنا بإخفاء القائمة في حالات أن الشاشة صغيرة */
  display: none;
}
.navbar-burger {
  display: flex;
  margin-left: 8px;
  border: none;
  background: none;
}
.navbar-logo {
  display: flex;
}
.navbar-search {
  margin-right: auto;
}
.searchInput {
  line-height: 18px;
  padding: 8px;
  width: 190px;
  font-size: 16px;
}
footer.section {
  background: #000000;
  padding: 1.25rem 2rem;
}

.footer-nav {
  display: flex;
}
.footer-nav .logout {
  margin-right: auto;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-nav .logout:hover {
  color: #FFFFFF;
}
.hero {
  padding: 48px 32px;
}
.featured-title {
  color: white;
  font: 32px;
}
.featured-overview {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff6b;
  text-align: justify;
  margin: 16px 0;
  max-width: 540px;
}
.section-title {
  color: white;
  margin: 0;
  padding: 16px 0;
}
.button {
  display: inline-block;
  background: #e6b31e;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
  padding: 16px 24px;
}
.is-secondary {
  background: transparent;
  color: #e6b31e;
  border: 2px solid #e6b31e;
}
.movies {
  background: #191919;
  padding: 0 32px; /* تم إضافة هذا السطر لوضع مساحة خالية على جانبي حاوية الأفلام للتناسق مع بقية الحاويات*/
}
.featuredMovies {
  background: url('../images/cover.svg') no-repeat;
  background-size: cover;/*تم إضافة هذا السطر للتأكد من أن الخلفية ستكون على عرض الحاوية كلها*/
}
.moviesGrid {
  display: flex;
  margin: 0 16px 0 0;
  padding: 0;
  overflow: scroll;
  list-style-type: none;
}
.movie-description {
  display: flex;
  width: 100%;
  background: black;
  color: white;
  text-align: left;
  padding: 16px;
  box-sizing: border-box;
  opacity: 0;
}
.moviesGrid li a {
  text-decoration: none;
}
.moviesGrid li:hover .movie-description {
  opacity: 1;
}
.play-icon {
  margin-left: auto;
}
.section.filter {
  padding: 32px;
}